/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~font-awesome/css/font-awesome.css";

body { padding-top: 80px; }

.list-group-item.active {
    background-color: 	#9ACD32;
}
.btn-primary{
    background-color: darkgreen;
    border-color: darkgreen;
}