.dropdown-toggle{
    cursor: pointer;
}
.fa-shopping-cart{
    background: none;
    color: #fff;
    height: 15px;
}

.navbar {
    background-color: #6B8E23;
}
.navbar-brand {
    color: darkgreen;
}