<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{cart.totalItemsCount}} in your shopping cart.
    <button class="btn btn-light btn-sm" *ngIf="cart.items.length" (click)="clearCart()">Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail" alt=""></div>
        </td>
        <td>
          {{item.title}}
        </td>
        <td>
          <app-product-quantity [product]="item" [shopping-cart]="cart">           
          </app-product-quantity>
        </td>
        <td class="text-right">
          {{item.totalPrice | currency:'USD':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalPrice | currency:'USD':true}}</th>
      </tr>
    </tfoot>
  </table>
  <a class="btn btn-success" *ngIf="cart.items.length" [routerLink]="['/check-out']" >Check Out</a>
</div>