<div class="container-fluid content-row">
<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required.</div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
            </div>
            <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                <div *ngIf="price.errors.required">Price is required</div>
                <div *ngIf="price.errors.min">Price should be 0 or higher</div>
            </div>   
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                <option value=""></option>
                <option *ngFor="let c of  categories$ | async" [value]="c.$key">{{c.name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is required.</div>
          </div>
          <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url> 
              <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                <div *ngIf="imageUrl.errors.url">Image must have proper format.</div>
              </div>
          </div>
          <button class="btn btn-success">Save</button>
          <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
        </form>
  </div>
  <div class="col-md-6">
    <app-product-card [product]="product" [show-actions]="false"></app-product-card> 
  </div>
</div>

